/* Este es un pequeño espacio para mis pruebas y como cada proyecto se va uniendo a mi portafolio trabajo en ello  */
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,700;1,800&family=Prompt:wght@500&family=Ramaraja&display=swap');
:root{
    --body-family: 'Montserrat', sans-serif, 'Prompt', sans-serif;
    --first-color: #3664F4;
}
body{
    font-family: var(--body-family);
    background: #EEEEEE;
}
a{
    text-decoration: none;
}
.uil-heart{
    color: var(--first-color);
}
.container{
    width: auto;
    height: 95vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
.link{
    background: var(--first-color);
    font-size: 1.5rem;
    padding: 1rem;
    color: #FFFF;
    margin-top:1rem;
    border-radius: 0.5rem;
    transition: all 1s cubic-bezier(.25,.8,.25,1);
    
}
.link:hover{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    transition: all 1s cubic-bezier(.25,.8,.25,1);
    transform: translatey(-0.30rem);
}
.os{
    width: auto;
    max-width:60px;
    padding: 1rem;
}
.os{
      animation-name: rotation;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
  }
  @keyframes rotation {
    0% {
      transform:rotate(0deg);
    }
    100% {
      transform:rotate(360deg);
    }
  }